{% extends 'base.html' %}


{% block title %}
Articles
{% endblock %}



{% block body %}
<h1>All articles at site</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div style="text-align: center;">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Date: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}">Detailed</a>
            <hr>
        </div>
        {% endfor %}
    {% else %}
    <p>There`s not articles here now...</p>
    {% endif %}
{% endblock %}